/* https://youtu.be/tcskp-ncN0I?t=3016 */


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500;900&family=Roboto:wght@300&display=swap');
 
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
/*navigation bar*/
.topnav{
    position: fixed;
    width:100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Inconsolata' ,sans-serif;
    transition: all 0.3s ease;

}
.topnav.sticky{
    padding: 15px 0;
    background: #e84e4e;
}
.topnav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topnav .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 900;
}
.topnav .logo a span{
    color:rgb(232, 78, 78);
}
.topnav.sticky .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}
.topnav .menu li{
    list-style: none;
    display: inline-block;
}
.topnav .menu li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.topnav .menu li a:hover{
    color:rgb(232, 78, 78);
}
.topnav.sticky .menu li a:hover{
    color: black;
}

/*menu button*/
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/*Home*/
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: Roboto;
}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:rgb(232, 78, 78);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #e84e4e;
    color: #fff;
    font-size: 25px;
    padding: 12px 35px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #e84e4e;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #fff;
    background: none;
}

/* similar content styling */





/* about styling*/
section{
    padding: 100px 0;
}
.about, .skills{
    font-family: Roboto;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto' ;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #e84e4e;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .title::after{
    content: "who i am";
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;

}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.about .about-content .right{
    width: 55%;
     
}
.about .about-content .right .text{
    font-size: 25px; 
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color:rgb(232, 78, 78);
}
.about .about-content .right p{
    text-align: justify;

}
.about .about-content .right a{
    display: inline-block;
    background: #e84e4e;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #e84e4e;
    transition: all 0.3s ease;    
}
.about .about-content .right a:hover{
    color:#e84e4e;
    background: none;

}

/* Skills styling*/
.skills{

}

/*responsive media query*/
@media (max-width: 1330px){
    .home.max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    
    
    .menu-btn{
        display: block;
        z-index: 999;
        
    }
    .menu-btn i.active:before{
        content: "\f00d"
    }
    .topnav .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .topnav .menu.active{
        left: 0;
    }
    .topnav .menu li{
        display: block;
    }
    .topnav .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content .a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content .a{
        font-size: 20px;
        padding: 9px 25px;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}


/* scroll bar style*/
/* width */
::-webkit-scrollbar {
    width: 5%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-track:hover{
    background:#f1f1f1c4;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }